/* Estilos globales */
:root {

}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins;
  src: url("/assets/fonts/poppins-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PoppinsMedium;
  src: url("/assets/fonts/poppins-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url("/assets/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PoppinsBold;
  src: url("/assets/fonts/poppins-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PoppinsExtraBold;
  src: url("/assets/fonts/poppins-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PoppinsItalic;
  src: url("/assets/fonts/poppins-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

html, body {
  height: 100%;
}

/* Estilos globales de iconos */
.icon use {
  fill: currentColor;
}
